<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>File Explorer</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened class="w-56">
        <mat-list>
            <a class="cursor-pointer" mat-list-item routerLink="/" mat-ripple routerLinkActive="router-active-link">
                <mat-icon matListItemIcon>home</mat-icon>
                <div matListItemTitle>Home</div>
            </a>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="p-10">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>