<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>File Explorer</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened class="w-56">
        <mat-action-list>
            <ng-container *ngFor="let location of locations">
                <button (click)="onNavigationChange(location.path)" class="cursor-pointer" mat-list-item mat-ripple>
                    <mat-icon matListItemIcon>{{ location.icon }}</mat-icon>
                    <div matListItemTitle>{{ location.name }}</div>
                </button>
            </ng-container>
        </mat-action-list>
    </mat-sidenav>
    <mat-sidenav-content class="p-10">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>