<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>File Explorer</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened class="w-64">
        <mat-action-list>
            <ng-container *ngFor="let location of locations; last as isLast">
                <button (click)="onNavigationChange(location.path)" class="cursor-pointer" mat-list-item mat-ripple>
                    <mat-icon matListItemIcon>{{ location.icon }}</mat-icon>
                    <div matListItemTitle *ngIf="location.name">{{ location.name }}</div>
                    <div matListItemLine *ngIf="location.volumeName">{{ location.volumeName }}</div>
                    <div matListItemLine *ngIf="location.description">{{ location.description }}</div>
                </button>
                <mat-divider *ngIf="!isLast"/>
            </ng-container>
        </mat-action-list>
    </mat-sidenav>
    <mat-sidenav-content class="p-10">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>